body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Work Sans", serif;
    background-color: #ffffff;
}
.welcome {
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 48px;
    color: #121212
}
.subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    align-items: center;
    margin-bottom: 32px;
    color: #121212;
}

.container {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20sdpx;
    align-items: center;
    border-radius: 10px;
}

.logo {
    width: 150px;
    height: auto;
    margin-bottom: 64px;
}

h2, p {
    margin: 5px 0;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 24px;
}

label {
    width: 400px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    margin-bottom: 8px;
    color: #61646B;
}

input {
    width: 400px;
    height: 48px;
    padding: 12px;
    border: 1px solid #AFB1B6;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box; 
}
.toggle-password {
    position: relative;
    left: 364px;
    bottom: 36px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.black-button {
    width: 400px;
    height: 48px;
    padding: 12px 20px; 
    background-color: #121212;
    border-radius: 16px;
    cursor: pointer;
    margin-top: 32px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none; 
    color: #ffffff; 
    font-weight: 500;
    font-size: 16px;
    line-height: 24px; 
    letter-spacing: 0.2px;
    font-family: "Work Sans", serif;
}


.login-text {  
    color: #121212;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    align-items: center;
}
.link {
    text-decoration: underline;
    color: #121212;
    font-style: solid;
    offset: auto;
    text-decoration-thickness: auto;   
}