body {
    display: flex;
    box-sizing: border-box;
    margin: 0px;
    flex-direction: column;
    min-height: 100vh;
}
header {
    display: flex;
    background-color: #E0E0E0;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 82px;
    margin: 0px;
}
.logo {
    width: 84px;
    height: 35px;
    padding-top: 21px;
    padding-left: 120px;
    padding-right: 0px;
    padding-bottom: 21px;
    margin: 0px;
}
nav {
    display: flex;  
    margin-left: 305.75px;
    margin-right: 255.5px;
    padding-top: 29px;
    padding-bottom: 29px;
}
.home {
    font-family: "Work Sans", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #121212;
    text-decoration: none;
    margin-right: 126px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
.market {
    font-family: "Work Sans", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #61646B;
    text-decoration: none;
    margin-right: 126px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
.rating {
    font-family: "Work Sans", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #61646B;
    text-decoration: none;
    margin: 0px;
}
.profile {
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}
.avatar {
    width: 46.4px;
    height: 46.4px;
    border-radius: 100%;
    border: 1px solid #AFB1B6;
}
.profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.name {
    font-family: "Work Sans", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #61646B;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 12px;
    margin-bottom: 0px; 
    padding-right: 120px;
}
.coin-container {
    display: flex;
}
.coin-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    margin-top: 2px;
    margin-left: 12px;
    margin-bottom: 0px;
}
.coin {
    font-family: "Work Sans", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #121212;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 121px;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 72px;
    background-color: #61646B;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 100;
    margin: 0px;
    padding: 0px;
}
.footer-links {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 509px;
    padding-right: 509px;
    margin: 0px;
}
.about-game {
    font-family: "Work Sans", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 96px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
.help-center {
    font-family: "Work Sans", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 96px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
.rules {
    font-family: "Work Sans", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-decoration: none;
    margin: 0px;
}
.scroll-cubes {
    position: relative;
    max-height: calc(100vh - 82px - 72px - 59px);
    overflow-y: auto;
    padding-bottom: 40px;
    mask-image: linear-gradient(to bottom, #FAFAFA calc(100% - 41px), rgba(250, 250, 250, 0) 100%);
    -webkit-mask-image: linear-gradient(to bottom, #FAFAFA calc(100% - 41px), rgba(250, 250, 250, 0) 100%);

    -webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
    scrollbar-width: none;
}
/* Первый куб */
.first-cube {
    box-sizing: border-box;
    display: flex;
    border: solid 1px #AFB1B6;
    border-radius: 10px;
    margin-top: 40px;
    width: 384px;
    height: 108px;
    padding: 0px;
    margin-bottom: 0px;
    margin-left: 120px;
    margin-right: 0px;
    transition: border-color 0.3s;
}
.first-cube:hover {
    border: solid 1px #121212;
}
.first-cube-info {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}
.rocket-first-cube {
    width: 46.4px;
    height: 46.4px;
    border: solid 1px #AFB1B6;
    border-radius: 8px;
    margin-left: 24px;
    margin-top: 16px;
    margin-bottom: 44px;
    margin-right: 12px;
    padding: 0px;
}
.click-accelerator {
    font-family: "Work Sans", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #121212;
    margin-top: 16px;
    margin-bottom: 0px;
    padding: 0px;
}
.speed-of-earning-x10 {
    font-family: "Work Sans", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #61646B;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.price-first-cube {
    display: flex;
    padding: 0px;
    margin: 0px;
}
.coin-icon-first-cube {
    width: 24px;
    height: 24px;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 8px;
    padding: 0px;
}
.coin-first-cube {
    font-family: "Work Sans", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
    color: #121212;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}
.button-buy-first-cube {
    display: flex;
    background-color: #E0E0E0;
    width: 59px;
    height: 40px;
    border-radius: 12px;
    border: none;
    align-items: center;
    margin-right: 24px;
    margin-top: 52px;
    margin-bottom: 16px;
    margin-left: auto;
    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    font-family: "Work Sans", serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #121212;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.button-buy-first-cube:hover {
    background-color: #121212;
    color: #FFFFFF;
}
/* Второй куб */
.second-cube {
    box-sizing: border-box;
    display: flex;
    border: solid 1px #AFB1B6;
    border-radius: 10px;
    width: 384px;
    height: 108px;
    padding: 0px;
    margin-top: 12px;
    margin-bottom: 0px;
    margin-left: 120px;
    margin-right: 0px;
    transition: border-color 0.3s;
}
.second-cube:hover {
    border: solid 1px #121212;
}
.factor-second-cube {
    width: 46.4px;
    height: 46.4px;
    border: solid 1px #AFB1B6;
    border-radius: 8px;
    margin-left: 24px;
    margin-top: 16px;
    margin-bottom: 44px;
    margin-right: 12px;
    padding: 0px;
}
.second-cube-info {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}
.coin-multiplier {
    font-family: "Work Sans", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #121212;
    margin-top: 16px;
    margin-bottom: 0px;
    padding: 0px;
}
.clickcoins-per-click-x10 {
    font-family: "Work Sans", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #61646B;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.price-second-cube {
    display: flex;
    padding: 0px;
    margin: 0px;
}
.coin-icon-second-cube {
    width: 24px;
    height: 24px;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 8px;
    padding: 0px;
}
.coin-second-cube {
    font-family: "Work Sans", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
    color: #121212;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}
.button-buy-second-cube {
    display: flex;
    background-color: #E0E0E0;
    width: 59px;
    height: 40px;
    border-radius: 12px;
    border: none;
    align-items: center;
    margin-right: 24px;
    margin-top: 52px;
    margin-bottom: 16px;
    margin-left: auto;
    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    font-family: "Work Sans", serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #121212;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.button-buy-second-cube:hover {
    background-color: #121212;
    color: #FFFFFF;
}
/* Третий куб */
.third-cube {
    box-sizing: border-box;
    display: flex;
    border: solid 1px #AFB1B6;
    border-radius: 10px;
    width: 384px;
    height: 108px;
    padding: 0px;
    margin-top: 12px;
    margin-bottom: 0px;
    margin-left: 120px;
    margin-right: 0px;
    transition: border-color 0.3s;
}
.third-cube:hover {
    border: solid 1px #121212;
}
.multiplier-third-cube {
    width: 46.4px;
    height: 46.4px;
    border: solid 1px #AFB1B6;
    border-radius: 8px;
    margin-left: 24px;
    margin-top: 16px;
    margin-bottom: 44px;
    margin-right: 12px;
    padding: 0px;
}
.third-cube-info {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}
.power-tap {
    font-family: "Work Sans", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #121212;
    margin-top: 16px;
    margin-bottom: 0px;
    padding: 0px;
}
.clickcoins-per-click-x2 {
    font-family: "Work Sans", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #61646B;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.price-third-cube {
    display: flex;
    padding: 0px;
    margin: 0px;
}
.coin-icon-third-cube {
    width: 24px;
    height: 24px;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 8px;
    padding: 0px;
}
.coin-third-cube {
    font-family: "Work Sans", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
    color: #121212;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}
.button-buy-third-cube {
    display: flex;
    background-color: #E0E0E0;
    width: 59px;
    height: 40px;
    border-radius: 12px;
    border: none;
    align-items: center;
    margin-right: 24px;
    margin-top: 52px;
    margin-bottom: 16px;
    margin-left: auto;
    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    font-family: "Work Sans", serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #121212;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.button-buy-third-cube:hover {
    background-color: #121212;
    color: #FFFFFF;
}
/* Четвёртый куб */
.fourth-cube {
    box-sizing: border-box;
    display: flex;
    border: solid 1px #AFB1B6;
    border-radius: 10px;
    width: 384px;
    height: 108px;
    padding: 0px;
    margin-top: 12px;
    margin-bottom: 0px;
    margin-left: 120px;
    margin-right: 0px; 
    transition: border-color 0.3s;
}
.fourth-cube:hover {
    border: solid 1px #121212;
}
.present-fourth-cube {
    width: 46.4px;
    height: 46.4px;
    border: solid 1px #AFB1B6;
    border-radius: 8px;
    margin-left: 24px;
    margin-top: 16px;
    margin-bottom: 44px;
    margin-right: 12px;
    padding: 0px;
}
.fourth-cube-info {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}
.golden-touch {
    font-family: "Work Sans", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #121212;
    margin-top: 16px;
    margin-bottom: 0px;
    padding: 0px;
}
.random-bonus-on-click {
    font-family: "Work Sans", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #61646B;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.price-fourth-cube {
    display: flex;
    padding: 0px;
    margin: 0px;
}
.coin-icon-fourth-cube {
    width: 24px;
    height: 24px;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 8px;
    padding: 0px;
}
.coin-fourth-cube {
    font-family: "Work Sans", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
    color: #121212;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}
.button-buy-fourth-cube {
    display: flex;
    background-color: #E0E0E0;
    width: 59px;
    height: 40px;
    border-radius: 12px;
    border: none;
    align-items: center;
    margin-right: 24px;
    margin-top: 52px;
    margin-bottom: 16px;
    margin-left: auto;
    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    font-family: "Work Sans", serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #121212;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.button-buy-fourth-cube:hover {
    background-color: #121212;
    color: #FFFFFF;
}
/* Пятый куб */
.fifth-cube {
    box-sizing: border-box;
    display: flex;
    border: solid 1px #AFB1B6;
    border-radius: 10px;
    width: 384px;
    height: 108px;
    padding: 0px;
    margin-top: 12px;
    margin-bottom: 0px;
    margin-left: 120px;
    margin-right: 0px; 
    transition: border-color 0.3s;
}
.fifth-cube:hover {
    border: solid 1px #121212;
}
.schedule-fifth-cube {
    width: 45.4px;
    height: 46.4px;
    border: solid 1px #AFB1B6;
    border-radius: 8px;
    margin-left: 24px;
    margin-top: 16px;
    margin-bottom: 44px;
    margin-right: 12px;
    padding-right: 1px;
}
.fifth-cube-info {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}
.coin-stream {
    font-family: "Work Sans", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #121212;
    margin-top: 16px;
    margin-bottom: 0px;
    padding: 0px;
}
.passive-income-x10 {
    font-family: "Work Sans", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #61646B;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.price-fifth-cube {
    display: flex;
    padding: 0px;
    margin: 0px;
}
.coin-icon-fifth-cube {
    width: 24px;
    height: 24px;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 8px;
    padding: 0px;
}
.coin-fifth-cube {
    font-family: "Work Sans", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
    color: #121212;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}
.button-buy-fifth-cube {
    display: flex;
    background-color: #E0E0E0;
    width: 59px;
    height: 40px;
    border-radius: 12px;
    border: none;
    align-items: center;
    margin-right: 24px;
    margin-top: 52px;
    margin-bottom: 16px;
    margin-left: auto;
    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    font-family: "Work Sans", serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #121212;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.button-buy-fifth-cube:hover {
    background-color: #121212;
    color: #FFFFFF;
}
/* Шестой куб */
.sixth-cube {
    box-sizing: border-box;
    display: flex;
    border: solid 1px #AFB1B6;
    border-radius: 10px;
    width: 384px;
    height: 108px;
    padding: 0px;
    margin-top: 12px;
    margin-bottom: 0px;
    margin-left: 120px;
    margin-right: 0px; 
    transition: border-color 0.3s;
}
.sixth-cube:hover {
    border: solid 1px #121212;
}
.drone-sixth-cube {
    width: 46.4px;
    height: 46.4px;
    border: solid 1px #AFB1B6;
    border-radius: 8px;
    margin-left: 24px;
    margin-top: 16px;
    margin-bottom: 44px;
    margin-right: 12px;
    padding: 0px;
}
.sixth-cube-info {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}
.mining-drone {
    font-family: "Work Sans", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #121212;
    margin-top: 16px;
    margin-bottom: 0px;
    padding: 0px;
}
.automated-clicks-for-1-min {
    font-family: "Work Sans", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #61646B;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.price-sixth-cube {
    display: flex;
    padding: 0px;
    margin: 0px;
}
.coin-icon-sixth-cube {
    width: 24px;
    height: 24px;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 8px;
    padding: 0px;
}
.coin-sixth-cube {
    font-family: "Work Sans", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
    color: #121212;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}
.button-buy-sixth-cube {
    display: flex;
    background-color: #E0E0E0;
    width: 59px;
    height: 40px;
    border-radius: 12px;
    border: none;
    align-items: center;
    margin-right: 24px;
    margin-top: 52px;
    margin-bottom: 16px;
    margin-left: auto;
    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    font-family: "Work Sans", serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #121212;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.button-buy-sixth-cube:hover {
    background-color: #121212;
    color: #FFFFFF;
}
.arrow-down {
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    left: 292px;
    bottom: 45px;
    right: 1108px;
    cursor: pointer;
}
.score {
    position: absolute;
    top: 122px;
    left: 528px;
    right: 120px;
    width: 792px;
    height: 106px;
    display: flex;
}
/* Первый прямоугольник */
.score-first-cube {
    display: flex;
    box-sizing: border-box;
    background-color: #43464D;
    width: 264.67px;
    height: 106px;
    border: solid 1px #E0E0E0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 0px;
}
.hand-with-coin {
    width: 56px;
    height: 56px;
    border-radius: 8px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 24px;
    margin-right: 0px;
}
.score-first-cube-info {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}
.coin-score-first-cube {
    font-family: "Work Sans", serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-top: 24px;
    margin-left: 12px;
    margin-right: 0px;
    margin-bottom: 0px;
}
.total-clickCoins {
    font-family: "Work Sans", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #E0E0E0;
    margin-top: 2px;
    margin-left: 12px;
    margin-right: 0px;
    margin-bottom: 0px;
}
/* Второй прямоугольник */
.score-second-cube {
    display: flex;
    box-sizing: border-box;
    background-color: #43464D;
    width: 264.67px;
    height: 106px;
    border: solid 1px #E0E0E0;
    padding: 0px;
}
.coin-hand {
    width: 56px;
    height: 56px;
    border-radius: 8px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 24px;
    margin-right: 0px;
}
.score-second-cube-info {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}
.coin-score-second-cube {
    font-family: "Work Sans", serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-top: 24px;
    margin-left: 12px;
    margin-right: 0px;
    margin-bottom: 0px;
}
.coins-per-click {
    font-family: "Work Sans", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #E0E0E0;
    margin-top: 2px;
    margin-left: 12px;
    margin-right: 0px;
    margin-bottom: 0px;
}
/* Третий прямоугольник */
.score-third-cube {
    display: flex;
    box-sizing: border-box;
    background-color: #43464D;
    width: 264.67px;
    height: 106px;
    border: solid 1px #E0E0E0;
    padding: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.clock {
    width: 56px;
    height: 56px;
    border-radius: 8px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 24px;
    margin-right: 0px;
}
.score-third-cube-info {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}
.one-sec {
    font-family: "Work Sans", serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-top: 24px;
    margin-left: 12px;
    margin-right: 0px;
    margin-bottom: 0px;
}
.passive-Income {
    font-family: "Work Sans", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #E0E0E0;
    margin-top: 2px;
    margin-left: 12px;
    margin-right: 0px;
    margin-bottom: 0px;
}
.big-coin-div {
    position: absolute;
    display: flex;
    left: 194px;
    top: 130px;
    width: 400px;
    height: 400px;
}    
.big-coin {
    width: 398.4px;
    height: 398.4px;
    border-radius: 100%;
    margin: 0px;
    padding: 0px;
    border: solid 1px #AFB1B6;
    cursor: pointer;
}